<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid black">
    <a class="navbar-brand" style="margin-left: 1%;">eComm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-left: 88%;">
            <!-- <a class="nav-item nav-link active" href="">{{loginSatatus}}</a> -->
            <a class="nav-item nav-link active" href="">Login</a>

            <a class="nav-item nav-link" href="Home"><i class="bi bi-house"></i></a>
            <a class="nav-item nav-link" href="my-cart"><i class="bi bi-cart"><sup>*</sup></i></a>
        </div>
    </div>
</nav>