<div class="container">
    <div class="row mt-2" style="text-align: center; align-items: center; font-family: Times New Roman;color: grey;">
        <div class="col">
           <h3>All Order Details</h3>
           <hr>
        </div>
    </div> 
    
    <div class="row">
        <p-table [value]="allOrderDataArr" [scrollable]="true" scrollHeight="500px" [paginator]="true" [rows]="10" responsiveLayout="scroll" styleClass="p-datatable-gridlines" responsiveLayout="scroll" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Order at</th>
                    <th>Order ID</th>
                    <th>Customer name</th>
                    <th>Email-ID</th>
                    <th>Mobile number</th>
                    <th>Shipping Address</th>
                    <th>Pincode</th>
                    <th>Order cost</th>
                    <th>Product Details</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderData let-i="index">
                <tr>
                    <td>{{orderData.createdAt}}</td>
                    <td>{{orderData._id}}</td>
                    <td>{{orderData.userName}}</td>
                    <td>{{orderData.emailAdd}}</td>
                    <td>{{orderData.mobileNum}}</td>
                    <td>{{orderData.shippingAdd}}</td>
                    <td>{{orderData.pincode}}</td>
                    <td>{{orderData.totalOrderCost}} Rs.</td>
                    <td>
                        <ng-container *ngFor="let product of orderData.checkOutProductDeails; let i=index" >
                            {{i+1}}. {{product.details}}<br>
                        </ng-container>
                    </td>                    
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>